*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}


/* Background Layer */
body::before {
    content: "";
    position: fixed;
    inset: 0;

    background: url(assets/background.png) center/cover no-repeat;

    filter: blur(8px);
    transform: scale(1.1); /* prevents white edges after blur */

    z-index: -1;
}
body{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Background layer */
.container::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url(assets/background.png) center/cover no-repeat;

    filter: blur(4px);   /* low level blur */
    transform: scale(1.05);

    z-index: -1;
}
.container{
    width: 90%;
    max-width: 40rem;
    
}

.box{
    width: 100%;
    border: 2px solid white;
    border-radius: 12px;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    /* align-items: center; */
}

.temp-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left>img{
    height: 14rem;
}
.right{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* gap: 1rem; */
}
.city{
    font-size: 4rem;
    font-weight: 800;
    text-align: left;
}

.date-day{
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    font-size: 2rem;
    font-weight: 600;
}
.weather{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 2rem;
    gap: 0.4rem;
    
}
.weather-temp{
    font-size: 4rem;
    font-weight: 600;
}
.weather-desc{
    font-size: 1.8rem;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.speed-img{
    text-align: center;
}


.humidity-speed{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.humidity-img>img, .speed-img>img{
    height: 4rem;
}
.humidity-text, .speed-text{
    font-size: 2rem;
    font-weight: 600;
}
.search>input{
    padding: 1.8rem;
    height: 40px;
    width:100%;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 2rem 0 0 2rem ;
    color: white;
}
.search-icon{
    height: 40px;
    width: 40px;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0 3rem 3rem 0;
}
.search-icon>img{
    height: 2rem;
}